.change-password-modal-content {
    color: black;
    font-size: 1em;
    width: 500px;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-password-form button {
    border-radius: 5px;
}

.change-password-form button:hover {
    opacity: 0.9;
}

