.order-history{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-history h2{
  margin: 1em;
}

.order-list-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}