.hero-section {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: white;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .hero-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .why-buy-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: -20px;
  }
  
  .why-buy-item {
    text-align: center;
  }
  
  .why-buy-item img {
    width: 24px;
    height: auto;
    margin-bottom: 5px;
  }
  
  .why-buy-item p, .why-buy-item strong, .learn-more {
    margin: 0;
    font-size: 1em;
  }
  
  .learn-more {
    color: white;
    text-decoration: none;
  }
  
  .learn-more:hover {
    text-decoration: underline;
  }
  